# https://git-scm.com/docs/gitattributes
# 设置默认行为，以防止在跨平台时出现问题
* text=auto

# 明确声明应该被视为文本文件的文件类型
# Java相关文件
*.java text
*.xml text
*.properties text
*.pom linguist-language=xml

# 配置和标记语言文件
*.yml text
*.yaml text
*.json text
*.md text
*.adoc text
*.txt text

# Web相关文件
*.html text
*.css text
*.js text

# 数据文件
*.csv text
*.sql text

# 确保这些脚本在 Unix 系统上使用 LF
/mvnw text eol=lf
*.sh text eol=lf
gradlew text eol=lf
mvnw.cmd text eol=lf
.mvn/wrapper/maven-wrapper.properties text eol=lf

# 确保这些脚本在 Windows 上使用 CRLF
*.cmd text eol=crlf
*.bat text eol=crlf

# 声明二进制文件，避免 Git 对其进行任何处理
*.jar binary
*.war binary
*.zip binary
*.tar binary
*.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.class binary
*.dll binary
*.ear binary
*.exe binary

# 处理 Java 属性文件的特殊情况
*.properties linguist-language=properties

# Maven 相关文件
pom.xml linguist-language=xml

# 排除构建文件和依赖项不计入语言统计
target/** linguist-generated=true
.mvn/wrapper/** linguist-vendored=true
**/target/** linguist-generated=true

# 文档和配置文件
*.md diff=markdown
*.adoc diff=asciidoc
.gitignore text
.gitattributes text
